<!DOCTYPE html>
<html lang="{{{{languagecode}}}}">
<body>
<span style="background-color: rgb(34, 34, 34);background-image: linear-gradient(rgb(60, 60, 60) 0px, rgb(34, 34, 34) 100%);background-repeat: repeat-x;border-bottom-color: rgb(8, 8, 8);border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;border-bottom-style: solid;border-bottom-width: 1px;border-image-outset: 0px;border-image-repeat: stretch;border-image-slice: 100%;border-image-source: none;border-image-width: 1;border-left-color: rgb(8, 8, 8);border-left-style: solid;border-left-width: 0px;border-right-color: rgb(8, 8, 8);border-right-style: solid;border-right-width: 0px;border-top-color: rgb(8, 8, 8);border-top-left-radius: 0px;border-top-right-radius: 0px;border-top-style: solid;border-top-width: 0px;box-sizing: border-box;color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 51px;left: 0px;line-height: 20px;margin-bottom: 20px;min-height: 50px;position: fixed;right: 0px;top: 0px;z-index: 1030;">
    <span style="box-sizing: border-box;color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 50px;line-height: 20px;">
        <span style="box-sizing: border-box;color: rgb(51, 51, 51);display: block;float: left;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 50px;line-height: 20px;margin-left: 0px;margin-right: 0px;">
			<a style="background-color: rgba(0, 0, 0, 0);box-sizing: border-box;color: rgb(157, 157, 157);cursor: auto;display: block;float: left;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 18px;height: 50px;line-height: 20px;padding-bottom: 15px;padding-left: 15px;padding-right: 15px;padding-top: 15px;text-decoration: none;text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;"
			   href="{{rooturl}}index.php">{{{consolename}}}</a>
		</span>
	</span>
</span>
<span style="box-sizing: border-box;color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 371px;line-height: 20px;margin-left: 0px;margin-right: 0px;padding-left: 15px;padding-right: 15px;">
    <br><br><br>
    {{{{body}}}}
	<hr style="border-bottom-color: rgb(51, 51, 51);border-bottom-style: none;border-bottom-width: 0px;border-image-outset: 0px;border-image-repeat: stretch;border-image-slice: 100%;border-image-source: none;border-image-width: 1;border-left-color: rgb(51, 51, 51);border-left-style: none;border-left-width: 0px;border-right-color: rgb(51, 51, 51);border-right-style: none;border-right-width: 0px;border-top-color: rgb(238, 238, 238);border-top-style: solid;border-top-width: 1px;box-sizing: content-box;color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 0px;line-height: 20px;margin-bottom: 20px;margin-top: 20px;">
	<footer style="box-sizing: border-box;color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 0px;line-height: 20px;">
		<p style="box-sizing: border-box;color: rgb(51, 51, 51);display: block;float: left;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 40px;line-height: 20px;margin-bottom: 10px;margin-left: 0px;margin-right: 0px;margin-top: 0px;min-height: 1px;padding-left: 15px;padding-right: 15px;position: relative;">
			<small>{{{consolename}}} (v{{consoleversion}}; IABot v{{botversion}}; checkIfDead v{{cidversion}})<br>©2018 <a
					href="https://en.wikipedia.org/wiki/User:Cyberpower678">Cyberpower678</a></small>
		</p>
	</footer>
</span>
</body>
</html>