<form class="form-inline" id="fpreviewform" name="fpreviewform" method="post" action="index.php?page=metafpreview&action=reviewreportedurls">
	<h4>{{{reportedfpcount}}}: {{{{activefptotal}}}}</h4>
	<button type="submit" class="btn btn-info">{{{runcidalgo}}}</button>
	<input type="hidden" value="{{csrftoken}}" name="token">
	<input type="hidden" value="{{checksum}}" name="checksum">
</form>
<hr>
<form class="form-inline" id="fpformcontrol" name="fpformcontrol" method="post" action="index.php?page=metafpreview">
	<input type="checkbox" class="checkbox-inline" id="displayopen" name="displayopen" {{{{fpdisplayopenchecked}}}}> {{{fpdisplayopen}}}</input>
	<input type="checkbox" class="checkbox-inline" id="displayfixed" name="displayfixed" {{{{fpdisplayfixedchecked}}}}> {{{fpdisplayfixed}}}</input>
	<input type="checkbox" class="checkbox-inline" id="displaydeclined" name="displaydeclined" {{{{fpdisplaydeclinedchecked}}}}> {{{fpdisplaydeclined}}}</input>
	<button type="submit" class="btn btn-primary">{{{submit}}}</button>
</form>
<table class="table table-hover">
	<thead> <tr> <th>{{{url}}}</th> <th>{{{reportedby}}}</th> <th>{{{reporttime}}}</th> <th>{{{fpreportedversion}}}</th> <th>{{{fpchangestatus}}}</th> </tr> </thead>
	<tbody>{{{{fptable}}}}</tbody>
</table>
<{{{{prevbuttonora}}}} href="{{{{prevpageurl}}}}" class="btn btn-primary" id="prevpage" name="prevpage" {{{{prevpagedisabled}}}}>{{{previouspage}}}</{{{{prevbuttonora}}}}>
<{{{{nextbuttonora}}}} href="{{{{nextpageurl}}}}" class="btn btn-primary" id="nextpage" name="nextpage" {{{{nextpagedisabled}}}}>{{{nextpage}}}</{{{{nextbuttonora}}}}>