<!DOCTYPE html>
<html lang="{{{{languagecode}}}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/6/6c/IABot_logo.svg">

	<title>{{{{tooltitle}}}} - {{{consolename}}}</title>

	<!-- Bootstrap core CSS -->
	<link href="static/{{{{csstheme}}}}/css/bootstrap.min.css" rel="stylesheet">
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="static/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<!--<link href="static/theme.css" rel="stylesheet">-->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="static/html5shiv.min.js"></script>
	<script src="static/respond.min.js"></script>
	<![endif]-->

	<!-- XHProf interface mods -->
	<link href='static/xhprof/css/xhprof.css' rel='stylesheet' type='text/css'/>
	<link href='static/xhprof/jquery/jquery.autocomplete.css' rel='stylesheet' type='text/css'/>
	<link href='static/xhprof/jquery/jquery.tooltip.css' rel='stylesheet' type='text/css'/>

	<!-- Custom bootstrap mods for IABot -->
	<link href="static/bootstrap-mods.css" rel="stylesheet">
	<script>
        function loadInterface() {
            $.getJSON("index.php?action=loadmaintenancejson",
                function (data) {
                    if (data == null || data == false) {
                        setTimeout("loadInterface()", 5000);
                    } else {
                        $('#progressbarmaintenance').attr("style", data['style']);
                        $('#progressbarmaintenance').attr("aria-valuenow", data['aria-valuenow']);
                        $('#progressbarmaintenancetext').html(data['progresstext']);
                        $('#maintenanceeta').html(data['maintenanceeta']);
                        setTimeout("loadInterface()", 5000);
                    }
                })
                .fail(function () {
                    setTimeout("loadInterface()", 5000);
                })
        }
	</script>
</head>

<body onload="{{{{onloadfunction}}}}">
<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid" id="navheadercontainer">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				        aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.php">{{{consolename}}}</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
						   aria-haspopup="true" aria-expanded="false">{{{runbotmenutitle}}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="index.php?page=runbotsingle">{{{runbotmenutitlesingle}}}</a></li>
							<li><a href="index.php?page=runbotqueue">{{{runbotmenutitlequeuerequest}}}</a></li>
							<li><a href="index.php?page=viewjob">{{{jobview}}}</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
						   aria-haspopup="true" aria-expanded="false">{{{manageurlmenutitle}}} <span
								class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="index.php?page=manageurlsingle">{{{manageurlmenutitlesingle}}}</a></li>
							<li><a href="index.php?page=manageurldomain">{{{manageurlmenutitledomain}}}</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
						   aria-haspopup="true" aria-expanded="false">{{{bugreportmenutitle}}} <span
								class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="index.php?page=reportfalsepositive">{{{bugreportmenutitlefalsepositive}}}</a>
							</li>
							<li><a href="index.php?page=reportbug">{{{bugreportmenutitlerealbug}}}</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
						   aria-haspopup="true"
						   aria-expanded="false">{{{metamenutitle}}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="index.php?page=metalogs">{{{metamenutitlelogs}}}</a></li>
							<li><a href="index.php?page=metausers">{{{metamenutitleusers}}}</a></li>
							<li><a href="index.php?page=metainfo">{{{metamenutitleinfo}}}</a></li>
							<li><a href="index.php?page=runpages">{{{runpages}}}</a> </li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">{{{metamenutitlerootheader}}}</li>
							<li><a href="index.php?page=metafpreview">{{{metamenutitlefalsepositivereview}}}</a></li>
							<li><a href="index.php?page=metabotqueue">{{{metamenutitlebotqueue}}}</a></li>
							<li><a href="index.php?page=performancemetrics">{{{metamenutitleperformancemetrics}}}</a></li>
							<li><a href="index.php?page=systemconfig">{{{metamenusystemconfig}}}</a> </li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" id="userwikidropdownprimary"><a href="#" class="dropdown-toggle"
					                                                     data-toggle="dropdown" role="button"
					                                                     aria-haspopup="true"
					                                                     aria-expanded="false"
					                                                     id="userwikidropdowna"><span
							class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{{{currentwiki}}}} <span
							class="caret"></span></a>
						<ul class="dropdown-menu scrollable-menu">
							{{{{wikimenu}}}}
						</ul>
					</li>
					{{{{usermenuitem}}}}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</nav>
<div class="container-fluid">
	{{{{maintenancefield}}}}
	{{languagemessage}}
	{{{{messages}}}}
	{{{{body}}}}
	<hr>
	<footer class="row-fluid">
		<p class="col-md-6">
			<small>{{{consolename}}} (v{{botversion}}; checkIfDead v{{cidversion}})<br>©2018
				<a
						href="https://en.wikipedia.org/wiki/User:Cyberpower678">Cyberpower678</a></small>
		</p>
		<p class="col-md-6 text-right">
			<small>{{{activeusers5text}}}: {{activeusers5}}</small>
		</p>
	</footer>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/jquery2.min.js"><\/script>')</script>
<script src="static/{{{{csstheme}}}}/js/bootstrap.min.js"></script>
<script src="static/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="static/ie10-viewport-bug-workaround.js"></script>
<script src='static/xhprof/js/xhprof_report.js'></script>
<!--<script src='static/xhprof/jquery/jquery.tooltip.js'></script>
<script src='static/xhprof/jquery/jquery.autocomplete.js'></script>
<script src='static/xhprof/jquery/jquery-1.2.6.js'></script>-->
<script src="static/bootstrap-mods.js"></script>
</body>
</html>