<div class="page-header">
	<h1>{{{maintenanceheader}}}</h1>
</div>
<div class="well">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<p style="text-align: center;">
				{{{maintenancesentence1}}}
				<br>
				<div class="progress">
					<div id="progressbarmaintenance" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
						<span id="progressbarmaintenancetext">--/-- (--%)</span>
					</div>
				</div>
				{{{eta}}}:
				<span id="maintenanceeta">
					---
				</span>
			</p>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
