<!DOCTYPE html>
<html lang="{{{{languagecode}}}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/6/6c/IABot_logo.svg">

	<title>{{{{tooltitle}}}} - {{{consolename}}}</title>

	<!-- Bootstrap core CSS -->
	<link href="static/{{{{csstheme}}}}/css/bootstrap.min.css" rel="stylesheet">
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="static/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<!--<link href="static/theme.css" rel="stylesheet">-->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="static/html5shiv.min.js"></script>
	<script src="static/respond.min.js"></script>
	<![endif]-->

	<!-- Custom bootstrap mods for IABot -->
	<link href="static/bootstrap-mods.css" rel="stylesheet">
	<!--Auto reload script -->
	<script>
        function loadInterface() {
            $.getJSON("index.php?action=loadmaintenancejson",
                function (data) {
                    if (data == null || data == false) {
                        setTimeout("location.reload()", 10000);
                    } else {
                        $('#progressbarmaintenance').attr("style", data['style']);
                        $('#progressbarmaintenance').attr("aria-valuenow", data['aria-valuenow']);
                        $('#progressbarmaintenancetext').html(data['progresstext']);
                        $('#maintenanceeta').html(data['maintenanceeta']);
                        setTimeout("loadInterface()", 5000);
                    }
                })
                .fail(function () {
                    setTimeout("location.reload()", 10000);
                })
        }
	</script>
</head>

<body onload="loadInterface()">
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				        aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.php">{{{consolename}}}</a>
			</div>
			<div id="navbaroverride" class="navbar-collapse collapse nav navbar-nav navbar-center">
				<a class="navbar-brand" style="display:{{{{accessoverride}}}}" href="index.php?disableoverride=yes">{{{accessoverride}}}</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" id="userwikidropdownprimary"><a href="#" class="dropdown-toggle"
					                                                     data-toggle="dropdown" role="button"
					                                                     aria-haspopup="true"
					                                                     aria-expanded="false"
					                                                     id="userwikidropdowna"><span
							class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{{{currentwiki}}}} <span
							class="caret"></span></a>
						<ul class="dropdown-menu scrollable-menu">
							{{{{wikimenu}}}}
						</ul>
					</li>
					<li class="dropdown" id="userlangdropdownprimary"><a href="#" class="dropdown-toggle"
					                                                     data-toggle="dropdown" role="button"
					                                                     aria-haspopup="true"
					                                                     aria-expanded="false"
					                                                     id="userlangdropdowna"><span
							class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{{{currentlang}}}} <span
							class="caret"></span></a>
						<ul class="dropdown-menu scrollable-menu">
							{{{{langmenu}}}}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="container-fluid">
	{{languagemessage}}
	{{{{messages}}}}
	{{{{body}}}}
	<hr>
	<footer class="row-fluid">
		<p class="col-md-6">
			<small>{{{consolename}}} (v{{consoleversion}}; IABot v{{botversion}}; checkIfDead v{{cidversion}})<br>©2018
				<a href="https://en.wikipedia.org/wiki/User:Cyberpower678">Cyberpower678</a>
			</small>
		</p>
		<p class="col-md-6 text-right">
			<small>{{{activeusers5text}}}: {{activeusers5}}</small>
		</p>
	</footer>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/jquery2.min.js"><\/script>')</script>
<script src="static/{{{{csstheme}}}}/js/bootstrap.min.js"></script>
<script src="static/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="static/ie10-viewport-bug-workaround.js"></script>
<script src="static/bootstrap-mods.js"></script>
</body>
</html>