<div class="page-header">
	<h1>{{{metainfo}}}</h1>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<h2>{{{moduleinfoheader}}}:</h2>
			<ul>
				<li>{{{consolename}}}: v{{consoleversion}}</li>
				<li>IABot: v{{botversion}}</li>
				<li>checkIfDead: v{{cidversion}}</li>
			</ul>
			<hr>
			<h2>{{{devcredits}}}:</h2>
			<b>InternetArchiveBot:</b>
			<ul>
				<li><a href="https://en.wikipedia.org/wiki/User:Cyberpower678">Cyberpower678</a> - {{{primarydeveloper}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:Kaldari">Kaldari</a> - {{{tester}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:NKohli_(WMF)">NKohli (WMF)</a> - {{{tester}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:MusikAnimal">MusikAnimal</a> - {{{tester}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:Green_Cardamom">Green Cardamom</a> - {{{metrics}}}</li>
			</ul>
			<br>
			<b>{{{consolename}}}:</b>
			<ul>
				<li><a href="https://en.wikipedia.org/wiki/User:Cyberpower678">Cyberpower678</a> - {{{primarydeveloper}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:Kaldari">Kaldari</a> - {{{tester}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:NKohli_(WMF)">NKohli (WMF)</a> - {{{tester}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:MusikAnimal">MusikAnimal</a> - {{{tester}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:Green_Cardamom">Green Cardamom</a> - {{{tester}}}</li>
			</ul>
			<br>
			<b>checkIfDead:</b>
			<ul>
				<li><a href="https://en.wikipedia.org/wiki/User:NKohli_(WMF)">NKohli (WMF)</a> - {{{primarydeveloper}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:Kaldari">Kaldari</a> - {{{codeveloper}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:Cyberpower678">Cyberpower678</a> - {{{codeveloper}}}</li>
				<li><a href="https://en.wikipedia.org/wiki/User:MusikAnimal">MusikAnimal</a> - {{{tester}}}</li>
			</ul>
		</div>
		<div class="col-md-9">
			<h2>{{{grouprightinfoheader}}}:</h2>
			<table class="table table-bordered">
				<thead> <tr> <th>{{{usergroups}}}</th> <th>{{{hasflags}}}</th> <th>{{{autoacquirerequirements}}}</th> <th>{{{addpermissions}}}</th> <th>{{{removepermissions}}}</th> </tr> </thead>
				<tbody>
					{{{{groupinforows}}}}
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h2>{{{permissionsexplanation}}}:</h2>
			<ul>
				{{{{permissionsexplanationbody}}}}
			</ul>
		</div>
	</div>
</div>